<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Groupie Tracker: Home</title> 
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>

<header>
    <nav>
        <a href="/"><h1>GROUPIE TRACKER</h1></a>
    </nav>
</header>

<main class="artist-main">
    <div id="artist-list" class="artist-grid">
        {{range .Artists}}
            <div href="/artist/{{.ID}}" class="artist-card">
                <a href="/artist/{{.ID}}" class="artist-tag">
                <div class="card-image">
                    <img src="{{.Image}}" alt="{{.Name}}">
                </div>

                <div class="card-content">
                    <section class="band-info">
                        <h3>{{.Name}}</h3>
                    </section>

                    <section class="card-info">
                        <p><strong>Members:</strong>
                        {{ if eq (len .Members) 1 }}
                            Solo
                        {{ else }}
                            {{ len .Members }}
                        {{ end }}
                        </p>
                        <p><strong>Start Year:</strong> {{.CreationDate}}</p>
                        <p><strong>First Release:</strong> {{.FirstAlbum}}</p>
                        <a href="/artist/{{.ID}}" class="green-button">More Info →</a>
                    </section>
                </div>
                </a>
            </div>
        {{end}}
    </div>
</main>

<footer>
    <p>&copy; 2025 Groupie Tracker | cktistak, gkoutzos, ttsopani</p>
</footer>

</body>
</html>